.login-form-container {
    width: 40%;
    position: relative;
    padding: 27px 15px 8px;
    border: 1px solid #c5ccd2;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 1;
    overflow: auto;
    margin: 0 auto;
    margin-top: 10%;
    align-content: center;
}

.login-id-input-container {
    position: relative;
    padding: 27px 15px 8px;
    border: 1px solid #c5ccd2;
    box-sizing: border-box;
    z-index: 1;
    height: 60px;
    border-radius: 8px 8px 0 0;
}

.login-name-input-container {
    position: relative;
    padding: 27px 15px 8px;
    border: 1px solid #c5ccd2;
    box-sizing: border-box;
    z-index: 1;
    height: 60px;
    border-top:0;
}

.login-id-input {
    margin: 0;
    padding: 0;
    padding-block: 1px;
    padding-inline: 2px;
    border-radius: 0;
    border: none;
    background: 0 0;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none;
    position: relative;
    display: block;
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.2px;
    color: #1e1e23;
    z-index: 5;
    outline: 0;
}

.login-pw-input-container {
    position: relative;
    padding: 27px 15px 8px;
    border: 1px solid #c5ccd2;
    box-sizing: border-box;
    z-index: 1;
    height: 59px;
    border-top: 0;
    border-radius: 0 0 8px 8px;
}

.login-pw-input {
    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none;
    position: relative;
    display: block;
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.2px;
    color: #1e1e23;
    z-index: 5;
    outline: 0;
}

.login-name-input {
    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none;
    position: relative;
    display: block;
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.2px;
    color: #1e1e23;
    z-index: 5;
    outline: 0;
}

.login-text-label {
    display: inline-block;
    position: absolute;
    bottom: 18px;
    left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.2px;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    color: #737373;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 5;
}

.login-id-input-container.focus1::after {
    border-radius: 8px 8px 0 0;
}

.login-id-input-container.focus1::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid lightblue;
    transition: all .2s;
    z-index: 2;

}

.login-pw-input-container.focus1::after {
    border-radius: 0 0 8px 8px;
}

.login-pw-input-container.focus1::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid lightblue;
    transition: all .2s;
    z-index: 2;

}

.login-id-input-container.focus2 .login-text-label {
    left: 7px;
    bottom: 30px;
    font-size: 12px;
    padding: 0 8px;
    letter-spacing: -.8px;
    white-space: nowrap;
    width: auto;
}

.login-pw-input-container.focus2 .login-text-label {
    left: 7px;
    bottom: 30px;
    font-size: 12px;
    padding: 0 8px;
    letter-spacing: -.8px;
    white-space: nowrap;
    width: auto;
}

.login-name-input-container.focus1::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid lightblue;
    transition: all .2s;
    z-index: 2;

}

.login-name-input-container.focus2 .login-text-label {
    left: 7px;
    bottom: 30px;
    font-size: 12px;
    padding: 0 8px;
    letter-spacing: -.8px;
    white-space: nowrap;
    width: auto;
}

.login-submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: block;
    width: 100%;
    padding: 13px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    border: none;
    background-color: lightgreen;
}

.login-submit-button.off {
    background-color: #a5adb8;
}

.login-submit-button.off .login-button-text {
    font-weight: 400;
}

.login-button-text {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -.4px;
    color: #fff;
}

.login-find-wrap a {
    cursor: pointer;
}

.login-find-wrap {
    padding: 20px 0 48px;
    text-align: center;
    list-style: none;
    display: block;
    letter-spacing: -.5px;
    margin:0;
}

.login-find-wrap li{
    position:relative;
    display:inline-block
}

.login-find-wrap li+li{
    padding-left: 28px;
}

.login-find-wrap li+li::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 12px;
    width: 1px;
    height: 15px;
    border-radius: .5px;
    background-color: #dadada;
}

.login-find-text {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #888;
}