.form-container{
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.form-container label {
    font-weight: 600;
    margin-top: 20px;
    display: block;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    background: #4CAF50;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    margin-top: 20px;
}