*{
    font-family: "Poppins", sans-serif; 
    
}

.tabs {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.tab {
    padding: 10px 18px;
    border: 1px solid #09947d;
    background: #fff;
    color: #09947d;
    border-radius: 20px;
    cursor: pointer;
}

.tab.active {
    background:#09947d;
    color: #fff;
}

.Pagination{
    margin: 0 auto;
}