.body{
    width:80%;
    margin: 0 auto
}

.post-card {
    width: 100%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    border-left: 13px solid #09947d;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
    transition: 0.2s ease;
    margin: 0 auto;
    margin-bottom: 16px;
}

.post-card:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.post-title {
    margin: 0 0 10px;
    font-size: 17px;
    font-weight: 700;
}

.post-content {
    margin: 0 0 14px;
    font-size: 14px;
    color: #555;
}

.post-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #777;
}

.post-author {
    padding: 10px;
}

.post-views {
    padding: 10px;
}