* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
}

.funding-register-container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.funding-project-container {
    /* width: 80%; */
    height: 100px;
    margin: 80px auto;
    /* box-shadow: 0 6px 28px rgba(0, 0, 0, 0.12); */
    /* border-radius: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.funding-input-container {
    width: 80%;
    padding: 50px;
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.funding-your-idea {
    font-size: 25px;
    font-weight: 777;
    margin-bottom: 20px;
}

.funding-register-explan {
    margin-bottom: 40px;
}

.funding-my-idea {
    font-weight: 600;
}

.funding-my-idea span {
    color: rgb(245, 104, 104);
}

.funding-register-container textarea {
    width: 60%;
    height: 100px;
    font-size: 15px;
    margin-bottom: 50px;
    display: flex;
}

.textarea-wrapper {
    display: flex;
    gap: 20px;
}

.textarea-wrapper textarea {
    width: 60%;
    height: 100px;
    font-size: 15px;
    margin-bottom: 50px;
}

.textarea-wrapper span {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #017cad;
    border-radius: 100%;

    color: white;
    font-size: 14px;
    font-weight: 900;
    
    cursor: pointer;
}

/* .funding-amount-time {
    border: 1px solid rgb(141, 139, 139);
    width: 300px;
    height: 100px;
} */

.funding-footer-setting {
    margin-top: 100px;
    text-align: center;
}

.funding-edit-btn {
    background: #066b59;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    width: 77px;
    font-size: 18px;
    cursor: pointer;
}